@page
@model GestBookRazorPages.Pages.RegistrationModel
<form id="registrationForm" action="Registration" method="post">
    @Html.AntiForgeryToken()
    <div class="card">
        @Html.ValidationSummary(true, "")
        <div>
            @Html.DisplayNameFor(model => model.reg.Login)
            <div>
                @Html.EditorFor(model => model.reg.Login)
                @Html.ValidationMessageFor(model => model.reg.Login, "")
            </div>
        </div>

        <div>
            @Html.DisplayNameFor(model => model.reg.Password)
            <div>
                @Html.PasswordFor(model => model.reg.Password, new { id = "Password" })
                @Html.ValidationMessageFor(model => model.reg.Password, "")
            </div>
        </div>

        <div>
            @Html.DisplayNameFor(model => model.reg.PasswordConfirm)

            <div>
                @Html.PasswordFor(model => model.reg.PasswordConfirm)
                @Html.ValidationMessageFor(model => model.reg.PasswordConfirm, "")
            </div>
        </div>

        <div>
            <div>
                <button type="submit">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</form>